p
  | Hello #{ username }, Your transfer of
  b &nbsp;₹#{ amount }
  | &nbsp;to account #{ receiverAccountId } was successful.
p Your new account balance is
  b &nbsp;₹#{ balance }
p
  | Transaction ID:
  b &nbsp;#{ transactionId }
p Thank you for banking with us.